.vertical-tabs
  width 100%

  .vertical-tab-pane
    padding 10px 16px
    background #e4e4e4
    color black
    cursor pointer
    transition all 0.5s

    &.active
      background #333333
      color white
